.button {
  background-color: $radical-red;
  color: $white;
  font-family: $body;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 300ms ease, color 300ms ease;
  &:hover {
    background-color: $white;
    color: $radical-red;
  }
}
