.card {
  border-radius: 8px;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  width: 100%;
  margin-bottom: 2rem;
}
.card__headline {
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;
}
.card__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.card__menu-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.card__menu-item {
  padding-bottom: 0.75rem;
}


.warrior {
  background-color: lighten(#c79c6e, 10%);
}
.paladin {
  background-color: lighten(#f58cba, 10%);
}
.hunter {
  background-color: lighten(#abd473, 10%);
}
.rogue {
  background-color: lighten(#fff569, 10%);
}
.priest {
  background-color: lighten(#ffffff, 10%);
}
.death-knight {
  background-color: lighten(#c41f3b, 10%);
}
.shaman {
  background-color: lighten(#0070de, 10%);
}
.mage {
  background-color: lighten(#40c7eb, 10%);
}
.warlock {
  background-color: lighten(#8787ed, 10%);
}
.monk {
  background-color: lighten(#00ff96, 10%);
}
.druid {
  background-color: lighten(#ff7d0a, 10%);
}
.demon-hunter {
  background-color: lighten(#a330c9, 10%);
}





@media (min-width: 800px) {
  .card {
    max-width: 45%;
  }
}
@media(min-width: 1120px) {
  .card {
    max-width: 30%;
  }
}
@media (min-width: 1600px) {
  .card {
    max-width: 20%;
    margin-right: 2rem;
  }
}