.headline {
  text-transform: uppercase;
}
.headline--regular {
  font-weight: 400;
}
.headline--bold {
  font-weight: 600;
}
.headline--lg {
  font-size: 60px;
}
.headline--md {
  font-size: 32px;
}
.headline--sm {
  font-size: 16px;
}
.headline--xs {
  font-size: 12px;
}