.headline {
  margin: 0;
  position: relative;
  width: 100%;
}
.headline--reg {
  font-weight: 400;
}
.headline--bold {
  font-weight: 600;
}
.headline--lg {
  font-size: 60px;
}
.headline--md {
  font-size: 32px;
}
.headline--sm {
  font-size: 16px;
  font-family: $body;
  letter-spacing: 1px;
}
.headline--xs {
  font-size: 12px;
}
.headline--center {
  text-align: center;
}
.headline--bb {
  border-bottom: 1px solid $tufts-blue;
}
.headline--pseudo {
  &:before,
  &:after {
    background-color: $eerie-black;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 17.5%;
    width: 35%;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}