.p05 {
  padding: 0.5rem;
}
.p1 {
  padding: 1rem;
}
.p2 {
  padding: 2rem;
}
.p3 {
  padding: 3rem;
}
.pr1 {
  padding-right: 1rem;
}
.pr2 {
  padding-right: 2rem;
}
.pr3 {
  padding-right: 3rem;
}
.pb1 {
  padding-bottom: 1rem;
}
.pb2 {
  padding-bottom: 2rem;
}
.pb3 {
  padding-bottom: 3rem;
}
.pb4 {
  padding-bottom: 4rem;
}
.pb5 {
  padding-bottom: 5rem;
}
.pl1 {
  padding-left: 1rem;
}
.pl2{
  padding-left: 2rem;
}
.pl3 {
  padding-left: 3rem;
}